/* will try animate underline next time */

/* .link {
    text-decoration: none;
    line-height: 1;
    background-image: linear-gradient(90deg, #623527, #623527);
    background-size: 100% 1px;
    background-repeat: no-repeat;
    background-position: 0 100%;
    transition: background-size .3s ease;
}

.link:hover {
    height: 3rem;
 
}

.link:focus {
height: 3rem;
} */